<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace:命名空间
-->
<mapper namespace="com.nboweb.mapper.UserMapper">
    <!--statement-->
    <!--
        id：select的唯一标识
        resultType：为返回的结果类型
    -->
    <!--statement 与接口的方法要对应映射起来，即名字要一样-->
    <select id="selectAll" resultType="com.nboweb.pojo.User">
        select * from tb_user;
    </select>
    <select id="selectById" resultType="com.nboweb.pojo.User">
        select *
        from tb_user where id=#{id};
    </select>
</mapper>